@use '../base' as a;

#about{
    background-color: a.$dark-background;
    padding-top: 60px;
}
.about-container{
    padding: 20px 20px 20px 60px;

    h2::before{
        font-family: a.$fontLobster;
        font-size: 15px;
        padding-right: 10px;
        color: a.$color-pink;
        content: "01.";
    }
    h2{
        display: flex;
        align-items: center;
        font-size: 20px;
        font-family: a.$fontBaloo;
        color: a.$backgroundk-gray;
        margin: 5px 2px 10px 0;
    }
    h2::after{
        content: "";
        width: 150px;
        height: 2px;
        margin-left: 10px;
        position: relative;
        background-color: a.$color-pink;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p-content {
        .bio{
            margin: 5px;
            p{
                color: a.$backgroundk-gray;
                text-indent: 10px;
                margin: 0px 0px 10px;
                font-size: 15px;
                font-family: a.$fontBaloo;
                a{
                    color: a.$color-pink;
                    text-decoration: none;
                }
            }
        }
        .skills{
            display: grid;
            grid-template-columns: repeat(2, minmax(80px, 150px));
            gap: 0 10px;
            padding: 0;
            margin-top: 10px;
            overflow: hidden;
            list-style: none;

            li::before{
                content: "<>";
                font-family: a.$fontMerienda;
                font-size: 5px;
                padding: 5px;
                color: a.$color-pink;
            }

            li{
                font-size: 15px;
                padding: 5px;
                font-family: a.$fontLobster;
                color: a.$backgroundk-gray
            }
            
        }
    }
    .image {
        position: relative;
        img{
            width: 150px;
            margin: 20px 0 0 10px;
            border-radius: 30%;
            border: 5px solid a.$color-pinker;
        }
    }
}

@media screen and (min-width: 600px){
    .about-container{
        h2::after{
            width: 300px;
        }
        .content{
            flex-direction: row;
            align-items: unset;

            .p-content{
                width: 60%;
                padding: 5px 10px;

                .skills{
                    li::before{
                        font-size: 8px;
                    }
                }
            }

            .image{
                margin: 3em 10px;
            }
        }
    }
}

@media only screen and (min-width: 768px){
    h2{
        font-size: 23px;
    }
    .content{
        column-gap: 50px;
    }
}

@media only screen and (min-width: 1200px){
    #about{
        padding-top: 100px;

        .about-container{
            h2::before{
                font-size: 20px;
            }
            h2{
                font-size: 27px;
            }
            h2::after{
                width: 500px;
            }
            .content{
                .p-content{
                    padding: 5px 20px;

                    p{
                        font-size: 20px;
                    }

                    .skills{
                        grid-template-columns: repeat(2, minmax(80px, 200px));

                        li{
                            font-size: 20px;
                        }
                        li::before{
                            font-size: 13px;
                        }
                    }
                }
                .image{
                    width: 30%;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: 250px;
                    }
                }
            }
        }
    }
}