@use '../base' as a;

#about {
    background-color: a.$dark-background;
    padding-top: 3.75rem;
}

.about-container {
    padding: 1.25rem 1.25rem 1.25rem 3.75rem;

    h2::before {
        font-family: a.$fontLobster;
        font-size: 0.9rem;
        padding-right: 0.625rem;
        color: a.$color-pink;
        content: "01.";
    }

    h2 {
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        font-family: a.$fontBaloo;
        color: a.$backgroundk-gray;
        margin: 0.3rem 0.125rem 0.625rem 0;
    }

    h2::after {
        content: "";
        width: 150px;
        height: 0.125rem;
        margin-left: 0.625rem;
        position: relative;
        background-color: a.$color-pink;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p-content {
        .bio {
            margin: 0.3rem;

            p {
                color: a.$backgroundk-gray;
                text-indent: 0.625rem;
                margin: 0px 0px 0.625rem;
                font-size: 0.9rem;
                font-family: a.$fontBaloo;

                a {
                    color: a.$color-pink;
                    text-decoration: none;
                }
            }
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(2, minmax(80px, 150px));
            gap: 0 0.625rem;
            padding: 0;
            margin-top: 0.625rem;
            overflow: hidden;
            list-style: none;

            li::before {
                content: "<>";
                font-family: a.$fontMerienda;
                font-size: 0.3rem;
                padding: 0.3rem;
                color: a.$color-pink;
            }

            li {
                font-size: 0.9rem;
                padding: 0.3rem;
                font-family: a.$fontLobster;
                color: a.$backgroundk-gray
            }
        }
    }
    .image {
        position: relative;

        img {
            width: 150px;
            margin: 1.25rem 0 0 0.625rem;
            border-radius: 30%;
            border: 5px solid a.$color-pinker;
        }
    }
}

@media screen and (min-width: 600px) {
    #about {
        border: none;

        .about-container {
            h2::after {
                width: 300px;
            }

            .content {
                flex-direction: row;
                align-items: unset;
    
                .p-content {
                    width: 60%;
                    padding: 0.3rem 0.625rem;
    
                    .skills {
                        li::before {
                            font-size: 0.5rem;
                        }
                    }
                }
    
                .image {
                    margin: 2.988rem 0.625rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 1.4375rem;
    }

    .content {
        column-gap: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    #about {
        padding-top: 6.25rem;

        .about-container {
            h2::before {
                font-size: 1.25rem;
            }

            h2 {
                font-size: 1.6875rem;
            }

            h2::after {
                width: 500px;
            }

            .content {
                .p-content {
                    padding: 0.3rem 1.25rem;

                    p {
                        font-size: 1.25rem;
                    }

                    .skills {
                        grid-template-columns: repeat(2, minmax(80px, 200px));

                        li {
                            font-size: 1.25rem;
                        }

                        li::before {
                            font-size: 0.81rem;
                        }
                    }
                }

                .image {
                    width: 30%;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 250px;
                    }
                }
            }
        }
    }
}