@use '../base' as a;

.home-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 0.625rem 0 3.125rem;
    padding: 9.375rem 0 3.125rem 1.25rem;
}

.intro {
    display: flex;
    margin: 1.988rem 0;
    width: 65%;
    font-size: 1.563rem;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid a.$color-pink;
    color: a.$backgroundk-gray;
    font-family: a.$fontLobster;

    .cursor {
        color: a.$color-pink;
    }

    h1 {
        font-size: 1.25rem;
        padding: 0.1875rem;
        border: none;
        color: a.$backgroundk-gray;
        font-family: a.$fontSacramento;
    }

    h2 {
        font-size: 1.875rem;
        border: none;
        color: a.$color-pink;
        font-family: a.$fontLobster
    }
}

.png {
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    display: none;

    img {
        width: 90%;
    }
}

@media screen and (min-width: 600px) {
    .home-container {
        padding-left: 3.125rem;
    }

    .intro {
        h2 {
            font-size: 1.8em;
        }
    }

    .png {
        display: flex;
        
        img {
            height: 150px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .intro {
        h2 {
            font-size: 1.988rem;
        }
    }

    .png {
        img {
            height: 200px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .home-container {
        margin-left: 6.25rem;
    }

    .intro {
        font-size: 1.875rem;

        h1 {
            font-size: 1.563rem;
        }

        h2 {
            font-size: 2.5rem;
        }
    }

    .png {
        img {
            height: 200px;
        }
    }
}