@use '../base' as a;

#project{
    background-color: a.$dark-background;
    padding-top: 60px;
}
.project-container{
    padding: 20px 20px 20px 60px;

    h2::before{
        font-family: a.$fontLobster;
        font-size: 15px;
        padding-right: 10px;
        color: a.$color-pink;
        content: "04.";
    }

    h2{
        display: flex;
        align-items: center;
        font-size: 20px;
        font-family: a.$fontBaloo;
        color: a.$backgroundk-gray;
        margin: 5px 2px 10px 0;
    }
    h2::after{
        content: "";
        width: 150px;
        height: 2px;
        margin-left: 10px;
        position: relative;
        background-color: a.$color-pink;
    }
}
.projects-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;

    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 260px;
        gap: 20px;
        background-color: #262626;
        border-radius: 10px;
        margin: 20px 10px 20px 0;
        border: 1px dashed a.$color-pinker;

        .sample-image{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 80%;
            }
        }

        .content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .heading{
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3{
                    margin: 5px 10px;
                    font-size: 1.3rem;
                    color: a.$color-pink;
                    text-decoration: none;
                    font-family: a.$fontBaloo;
                }
                a{
                    background-color: transparent;
                    margin: 5px 15px 0 0;
                    svg{
                        width: 25px;
                        height: 25px;
                    
                        path{
                            fill: a.$color-pink;
                        }
                    }
                }
            }
            
            p{
                margin: 5px 15px;
                font-size: 0.9rem;
                color: a.$backgroundk-gray;
                font-family: a.$fontBaloo;
                
                a{
                    color: a.$color-pink;
                }
            }
            ul{
                padding-left: 20px;
                list-style: none;
                
                li::before{
                    content: ">";
                    font-family: a.$fontMerienda;
                    font-size: 10px;
                    padding: 5px;
                    color: a.$color-pink;
                }
                
                li{
                    font-size: 0.9rem;
                    padding: 5px 0;
                    font-family: a.$fontBaloo;
                    color: a.$backgroundk-gray;
                }
            }
            .dependencies{
                margin: 10px;
                display: flex;
                flex-wrap: wrap;
                p{
                    padding: 3px 5px;
                    color: a.$color-pink;
                    margin: 5px;
                    font-size: 0.9rem;
                    border: 1px solid a.$backgroundk-gray;
                    border-radius: 8px;
                }
            }
        }
    }
}

@media screen and (min-width: 600px){
    .project-container{
        h2::after{
            width: 300px;
        }
    }
}
@media only screen and (min-width: 768px){
    .project-container {
        h2{
            font-size: 23px;
        }
        .projects-wrapper{
            margin: 0 1.5rem;

            .project {
                margin: 20px 20px 20px 0;
            }
        }
    }
}
@media only screen and (min-width: 1200px){
    #project{
        padding-top: 100px;

        .project-container{
            h2::before{
                font-size: 20px;
            }
            h2{
                font-size: 27px;
            }
            h2::after{
                width: 500px;
            }

            .projects-wrapper {
                flex-flow: column;
                margin: 20px;
                
                .project{
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    max-width: none;
                    padding: 20px;

                    .sample-image {
                        width: 60%;
                    }
                    .content {
                        align-items: flex-end;

                        .heading {
                            h3 {
                                font-size: 1.5rem;
                            }
                            a{
                                svg{
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                        
                        p{
                            font-size: 1.2rem;
                            text-align: right;
                        }
                        ul {
                            direction: rtl;
                            li{
                                font-size: 1.1rem;
                            }
                        }
                        .dependencies{
                            p{
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}