@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Lobster+Two:ital,wght@0,400;1,700&family=Merienda:wght@400;700&family=Parisienne&family=Sacramento&family=Satisfy&display=swap');

// Font-Families
$fontMerienda: 'Merienda', cursive;
$fontParisienna: 'Parisienne', cursive;
$fontSacramento: 'Sacramento', cursive;
$fontSatisfy: 'Satisfy', cursive;
$fontBaloo: 'Baloo 2', cursive;
$fontLobster: 'Lobster Two', cursive;

//Dark Theme Colors
$dark-background: #1a1a1d;
$backgroundk-gray: #a7a7a7;
$color-wine: #6f2232;
$color-pinker: #950740;
$color-pink: #c3073f;

