@use 'base' as a;

.home-wrapper{
    padding: 0 100px;
}
.home-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 60px 20px;
    padding: 150px 20px;
    padding-right: 0;
}
.intro{
    display: flex;
    width: 70%;
    font-size: 40px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid a.$color-pink;
    color: a.$backgroundk-gray;
    font-family: a.$fontLobster;

    .cursor{
        color: a.$color-pink;
    }

    h1{
        font-size: 25px;
        margin: 0;
        padding: 5px;
        border: none;
        color: a.$backgroundk-gray;
        font-family: a.$fontSacramento;
    }
    h2{
        font-size: 2em;
        border: none;
        color: a.$color-pink;
        font-family: a.$fontLobster
    }
}
.png{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 30%;

    img{
        width: 300px;
        height: 300px;
    }
}