@use 'base' as a;

.project{
    background-color: a.$dark-background;
    height: fit-content;
}
.project-wrapper{
    padding: 100px;

    h2::before{
        font-family: a.$fontLobster;
        font-size: 22px;
        padding: 0 10px 0 5px;
        color: a.$color-pink;
        content: "03.";
    }

    h2{
        display: flex;
        align-items: center;
        font-size: 30px;
        font-family: a.$fontBaloo;
        color: a.$backgroundk-gray;
        margin: 5px 2px 15px 10px;
    }
    h2::after{
        content: "";
        width: 300px;
        height: 2px;
        margin-left: 20px;
        position: relative;
        background-color: a.$color-pink;
    }
}

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .projects{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        margin: 20px 50px;

        .img{
            margin: auto;

            .top-img{
                animation: wave  ease-in-out 0.5s infinite alternate;
                transform-origin: center -36px;

                img{
                    cursor: pointer;
                    border-radius: 30px;
                }
                img::after{
                    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
                }
            }
            .top-image::after{
                content: " ";
                position: absolute;
                top: -10px;
                left: 50%;
                transform: rotate(35deg);
            }
            .top-image::before{
                content: '';
                position: absolute;
                top: -23px;
                left: 50%;
                display: block;
                z-index: 16;
            }
            @keyframes wave {
                0% { transform: rotate(10deg); }
                100% { transform: rotate(-10deg); }
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .heading{
                display: flex;
                justify-content: space-between;
                h3{
                    margin: 10px;
                    font-size: 1.5rem;
                    cursor: pointer;
                    color: a.$color-pink;
                    text-decoration: none;
                    font-family: a.$fontLobster;
                }
                a{
                    background-color: transparent;
                    margin-top: 15px;
                    svg{
                        width: 25px;
                        height: 25px;

                        path{
                            fill: a.$color-pink
                        }
                    }
                }
            }

            p{
                margin: 3px;
                padding: 2px;
                font-size: 15px;
                color: a.$backgroundk-gray;
                font-family: a.$fontBaloo;

                a{
                    color: a.$color-pink;
                }
            }
            ul{
                display: grid;
                grid-template-columns: repeat(2, minmax(140px, 200px));
                gap: 0 10px;
                padding: 0;
                margin-top: 20px;
                overflow: hidden;
                list-style: none;

                li::before{
                    content: ">>";
                    font-family: a.$fontMerienda;
                    font-size: 10px;
                    padding: 5px;
                    color: a.$color-pink;
                }

                li{
                    font-size: 17px;
                    padding: 5px;
                    font-family: a.$fontBaloo;
                    color: a.$backgroundk-gray
                }
            }
            .icons{
                display: flex;
                justify-content: space-around;

                img{
                    width: 30px;
                    height: 30px;
                    margin: 10px;
                    padding: 5px;
                    border-radius: 35%;
                }
            }
        }
    }
}